*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}




body{
    background: rgb(61,77,177);
    background: linear-gradient(90deg, rgba(61,77,177,1) 0%, rgba(111,196,141,1) 77%);    
}

header#header-logo h1{
    display: inline-block;
    font-size: 3rem;
    font-family: 'Gill Sans', sans-serif;
    vertical-align: top;
    color: #6ed663;
    
}

#carrers{
    font-size: 3rem;
    font-family: 'Gill Sans', sans-serif;
    vertical-align: top;
    font-weight: 600;
    color: #0c3d80;
    
}
#header-logo{
    padding: 1rem;
    background: rgb(61,77,177);
    background: linear-gradient(90deg, rgba(61,77,177,1) 0%, rgba(111,196,141,1) 77%);
    
}

main{
    width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
}


.container{
    width: 1203px;
    height: 300px;
    margin: 0 auto;
    padding-top: 10rem;
}

h1.title{
    color: #e5316f;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    padding-top: .2rem;
    padding-bottom: 2rem;
    font-family: 'Fredoka', sans-serif;
    text-shadow: 2px 2px 5px rgb(79, 74, 74);
    display: block;
    width: 86%;
}

#Lorem{
    display:block;
    width: 86%;
    padding-bottom: 10px;
    color:black;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    
    
    
}



article.box{
    float:left;
    width: calc((100% / 3) - 1rem);
    margin: 2rem 0.5rem;
    background-color: rgb(185, 185, 185);
    box-shadow: 10px 5px 5px #9e9da4;
    color: rgb(107, 107, 112);
    border-radius: 10px 10px 10px 10px;

}

.box:hover{
    box-shadow: 15px 10px 10px rgb(38, 106, 174);

}



.id-pictures{
    height: 100px;
    width: auto;
    float:left;
}

.card-text{
    
    
    
    padding-top: 1rem;
    padding-left: 7rem;
    font-weight: 600;
    
}

h1, p{
    color: white;
    font-family: 'Fredoka', sans-serif;
}

a{
    color: dodgerblue;
}

a:hover {
    color: rgb(255, 0, 0);
}

